* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



header {
  width: 70%;
  margin: auto;
  padding-top: 2rem;

  ul {
    gap: 1.5rem;

    li {
      list-style: none;

    }
  }
}

main {
  color: white;

  section {
    padding: 3rem 0;

    h1 {
      width: 70%;
      margin: auto;
    }
  }

  .comics {
    background-color: #0282f9;
    gap: 5rem;

    img {
      width: 4rem;

      padding-right: 1rem;
    }



  }
}

footer {
  margin-top: -1.5rem;


  .back {
    background-image: url(/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;


    img {
      width: 30%;
    }

  }

  .container {

    padding: 4rem 0;


    div {
      padding-right: 2rem;
    }
  }

  h4 {
    color: white;

  }

  ul {
    padding-left: 0;


    li {
      color: grey;
      list-style: none;

    }
  }

  .bottom-bar {
    background-color: #303030;

    .container {
      width: 70%;
      margin: auto;
    }


    a {
      color: white;
    }
  }

  .icons {

    img {
      padding-right: 1rem;
    }

    .follow {
      padding-right: 1rem;
    }
  }
}