* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



header {
  width: 70%;
  margin: auto;
  padding: 2rem 0;

  ul {
    gap: 2rem;

    li {
      list-style: none;

    }
  }
}

main {
  color: white;

  section {
    padding: 3rem 0;

    h1 {
      width: 70%;
      margin: auto;
    }
  }

  .comics {
    background-color: #0282f9;
    gap: 5rem;

    img {
      width: 4rem;

      padding-right: 1rem;
    }



  }
}